[probabilistic_annotation]

# Locations of services needed for TEST
probanno_url=http://localhost:7073
cdmi_url=http://www.kbase.us/services/cdmi_api/
workspace_url=http://www.kbase.us/services/workspace/
fbamodelservices_url=http://bio-data-1.mcs.anl.gov/services/fba

# Client test settings
wsid=ProbannoUnitTest
dependency_ws=ProbannoDataDependencies
genome_file=client-tests/TESTFASTA.annotated.genome
test_mapping_object=client-tests/testdefault.mapping
test_biochemistry_object=client-tests/testdefault.biochemistry
genomeid=kb|g.22994
probannoid=kb|g.22994.probanno
rxnprobsid=kb|g.22994.rxnprobs
runtime=5

# Test user authentication
test_user=kbasetest
test_pwd=XXXX
